   body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #FFFFFF;
      color: #333;
    }
    header {
      background-color: #1E9AAB;
      padding: 15px;
      text-align: center;
      color: #fff;
      font-size: 22px;
    }
    .container {
      max-width: 1000px;
      margin: 30px auto;
      padding: 20px;
    }
    .filters {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .filters select, .filters input {
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      flex: 1;
    }
    .doctor-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #F5F9FA;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 20px;
      margin-top: 2rem;
    }
    .doctor-info h3 {
      margin: 0;
      color: #1E9AAB;
    }
    .doctor-info p {
      margin: 5px 0;
      color: #555;
    }
    .btn {
      background-color: #F15683;
      color: #fff;
      padding: 10px 20px;
      border-radius: 8px;
      text-decoration: none;
      transition: 0.3s;
    }
    .btn:hover {
      background-color: #C83458;
    }
    #doct{
      margin: auto;
    }



    /*.btn*/
    span button
{
  margin-left: 1.2rem;

}      
span input{
  height: 2rem;
  width: 15rem;
}
span{
  position: relative;
  left: 16.4rem;

}


/*404 PAGE*/
.notFoundPage{
   margin-top: 3rem;
      font-family: 'Poppins', sans-serif;
      background: #f5f9ff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 40%;
      text-align: center;
      color: #1e293b;
}





   .notFoundPage h1 {
      font-size: 5rem;
      font-weight: 700;
      color: #93c5fd;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

     .notFoundPage h1 div {
      color: #ef4444;
      position: relative;
      bottom: 4px;
    }

       .notFoundPage img {
      width: 180px;
      border-radius: 15px;
      background: white;
      box-shadow: 0 3px 15px rgba(0,0,0,0.1);
      padding: 15px;
      transition: transform 0.3s ease;
    }

       .notFoundPage img:hover {
      transform: scale(1.05);
    }

       .notFoundPage h2 {
      margin-top: 15px;
      font-size: 1.5rem;
      font-weight: 700;
    }

      .notFoundPage  p {
      max-width: 400px;
      font-size: 0.9rem;
      color: #64748b;
      margin-top: 8px;
    }

      .notFoundPage .icons {
      margin-top: 15px;
      font-size: 2.2rem;
      color: #60a5fa;
      display: flex;
      gap: 15px;
      justify-content: center;
    }

       .notFoundPage .icon {
      transition: transform 0.3s ease;
      cursor: pointer;
    }

       .notFoundPage .icon:hover {
      transform: translateY(-4px);
      color: #2563eb;
    }